<!--Intro and service-->
    <div id="intro" class="section scrollspy">
        <div class="container">
            <div class="row">
                <div  class="col s12">
                    <h2 class="center header text_h2"> At Simon Tech, we think you should look <span class="span_h2"> good  </span>, eat <span class="span_h2"> good  </span>, and feel <span class="span_h2"> good  </span>. So now we sell delicious snacks, school clothes, and more so you can live the <span class="span_h2"> Husky Life</span>.</h2>           
    
                                <div  class="col s12 m4 l4">
                    <div class="center promo promo-example">
                        <i class="material-icons">shopping_cart</i>
                        <h5 class="promo-caption">Speeds up development</h5>
                        <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Cum sociis natoque penatibus et magnis dis parturient montes.</p>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="center promo promo-example">
                        <i class="material-icons">shopping_basket</i>
                        <h5 class="promo-caption">User Experience Focused</h5>
                        <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus.</p>
                    </div>
                </div>
                <div class="col s12 m4 l4">
                    <div class="center promo promo-example">
                        <i class="material-icons">store</i>
                        <h5 class="promo-caption">Fully responsive</h5>
                        <p class="light center">Lorem ipsum dolor sit amet, consectetuer adipiscing elit. Aenean commodo ligula eget dolor. Aenean massa.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>